In [73]:
import numpy as np   
import pandas as pd
import os

import seaborn as sns
import matplotlib.pyplot as plt   
import matplotlib.style
plt.style.use('classic')

import warnings
warnings.filterwarnings("ignore")
from sklearn.neighbors import KNeighborsRegressor
from sklearn.impute import KNNImputer
from sklearn.experimental import enable_iterative_imputer

In [349]:
from sklearn.preprocessing import RobustScaler

In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import seaborn as sns
import scipy.stats as stats
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
import warnings
warnings.simplefilter("ignore")
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import roc_curve, roc_auc_score, auc
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
!pip install xgboost
from xgboost import XGBClassifier

Requirement already satisfied: xgboost in c:\users\zinia gaba\anaconda3\lib\site-packages (1.3.0.post0)
Requirement already satisfied: scipy in c:\users\zinia gaba\anaconda3\lib\site-packages (from xgboost) (1.4.1)
Requirement already satisfied: numpy in c:\users\zinia gaba\anaconda3\lib\site-packages (from xgboost) (1.18.1)

In [24]:
from scipy.stats import stats

In [25]:
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn import metrics
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier

from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import BaggingClassifier

In [4]:
df1 = pd.read_csv('Surveydata_train.csv')

In [5]:
df1.head()

,ID,Overall_Experience,Seat_comfort,Seat_Class,Arrival_time_convenient,Catering,Platform_location,Onboardwifi_service,Onboard_entertainment,Online_support,Onlinebooking_Ease,Onboard_service,Leg_room,Baggage_handling,Checkin_service,Cleanliness,Online_boarding
0,2100001,0,need improvement,Green Car,excellent,excellent,very convinient,good,need improvement,acceptable,need improvement,need improvement,acceptable,need improvement,good,need improvement,poor
1,2100002,0,poor,Ordinary,excellent,poor,need improvement,good,poor,good,good,excellent,need improvement,poor,need improvement,good,good
2,2100003,1,need improvement,Green Car,need improvement,need improvement,need improvement,need improvement,good,excellent,excellent,excellent,excellent,excellent,good,excellent,excellent
3,2100004,0,acceptable,Ordinary,need improvement,NaN,need improvement,acceptable,need improvement,acceptable,acceptable,acceptable,acceptable,acceptable,good,acceptable,acceptable
4,2100005,1,acceptable,Ordinary,acceptable,acceptable,manageable,need improvement,good,excellent,good,good,good,good,good,good,good

In [6]:
df2 = pd.read_csv('Traveldata_train.csv')

In [7]:
df2.head()

,ID,Gender,CustomerType,Age,TypeTravel,Travel_Class,Travel_Distance,DepartureDelay_in_Mins,ArrivalDelay_in_Mins
0,2100001,Female,Loyal Customer,52.0,NaN,Business,272,0.0,5.0
1,2100002,Male,Loyal Customer,48.0,Personal Travel,Eco,2200,9.0,0.0
2,2100003,Female,Loyal Customer,43.0,Business travel,Business,1061,77.0,119.0
3,2100004,Female,Loyal Customer,44.0,Business travel,Business,780,13.0,18.0
4,2100005,Female,Loyal Customer,50.0,Business travel,Business,1981,0.0,0.0

In [8]:
df = pd.merge(df1, df2, on = 'ID')

In [1235]:
df.head()

,ID,Overall_Experience,Seat_comfort,Seat_Class,Arrival_time_convenient,Catering,Platform_location,Onboardwifi_service,Onboard_entertainment,Online_support,...,Cleanliness,Online_boarding,Gender,CustomerType,Age,TypeTravel,Travel_Class,Travel_Distance,DepartureDelay_in_Mins,ArrivalDelay_in_Mins
0,2100001,0,need improvement,Green Car,excellent,excellent,very convinient,good,need improvement,acceptable,...,need improvement,poor,Female,Loyal Customer,52.0,NaN,Business,272,0.0,5.0
1,2100002,0,poor,Ordinary,excellent,poor,need improvement,good,poor,good,...,good,good,Male,Loyal Customer,48.0,Personal Travel,Eco,2200,9.0,0.0
2,2100003,1,need improvement,Green Car,need improvement,need improvement,need improvement,need improvement,good,excellent,...,excellent,excellent,Female,Loyal Customer,43.0,Business travel,Business,1061,77.0,119.0
3,2100004,0,acceptable,Ordinary,need improvement,NaN,need improvement,acceptable,need improvement,acceptable,...,acceptable,acceptable,Female,Loyal Customer,44.0,Business travel,Business,780,13.0,18.0
4,2100005,1,acceptable,Ordinary,acceptable,acceptable,manageable,need improvement,good,excellent,...,good,good,Female,Loyal Customer,50.0,Business travel,Business,1981,0.0,0.0

In [961]:
df_mice= df.copy(deep=True)
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
mice = IterativeImputer()
df_mice.iloc[:,:]= mice.fit_transform(df_mice)
df= df_mice

In [38]:
## df.dropna(inplace = True)

In [32]:
for i in df.columns:
    print ( df[i].value_counts())

2101246    1
2142915    1
2194106    1
2192059    1
2181820    1
          ..
2112877    1
2106734    1
2108783    1
2151792    1
2101250    1
Name: ID, Length: 94379, dtype: int64
1    51593
0    42786
Name: Overall_Experience, dtype: int64
acceptable          21158
need improvement    20946
good                20595
poor                15185
excellent           12971
extremely poor       3463
Name: Seat_comfort, dtype: int64
Green Car    47435
Ordinary     46944
Name: Seat_Class, dtype: int64
good                19574
excellent           17684
acceptable          15177
need improvement    14990
poor                13692
extremely poor       4332
Name: Arrival_time_convenient, dtype: int64
acceptable          18468
need improvement    17978
good                17969
poor                13858
excellent           13455
extremely poor       3910
Name: Catering, dtype: int64
manageable           24173
Convinient           21912
need improvement     17832
Inconvinient         16449
very convinient      13981
very inconvinient        2
Name: Platform_location, dtype: int64
good                22835
excellent           20968
acceptable          20118
need improvement    19596
poor                10741
extremely poor         91
Name: Onboardwifi_service, dtype: int64
good                30446
excellent           21644
acceptable          17560
need improvement    13926
poor                 8641
extremely poor       2144
Name: Onboard_entertainment, dtype: int64
good                30016
excellent           25894
acceptable          15702
need improvement    12508
poor                10167
extremely poor          1
Name: Online_support, dtype: int64
good                28909
excellent           24744
acceptable          16390
need improvement    14479
poor                 9768
extremely poor         16
Name: Onlinebooking_Ease, dtype: int64
good                27265
excellent           21272
acceptable          18071
need improvement    11390
poor                 8776
extremely poor          4
Name: Onboard_service, dtype: int64
good                28870
excellent           24832
acceptable          16384
need improvement    15753
poor                 8110
extremely poor        340
Name: Leg_room, dtype: int64
good                34944
excellent           26003
acceptable          17767
need improvement     9759
poor                 5764
Name: Baggage_handling, dtype: int64
good                26502
acceptable          25803
excellent           19641
need improvement    11218
poor                11137
extremely poor          1
Name: Checkin_service, dtype: int64
good                35427
excellent           26053
acceptable          17449
need improvement     9806
poor                 5633
extremely poor          5
Name: Cleanliness, dtype: int64
good                25533
acceptable          22475
excellent           21742
need improvement    13451
poor                11160
extremely poor         12
Name: Online_boarding, dtype: int64
Female    47815
Male      46487
Name: Gender, dtype: int64
Loyal Customer       69823
disloyal Customer    15605
Name: CustomerType, dtype: int64
39.0    2688
25.0    2542
40.0    2333
44.0    2291
41.0    2248
        ...
73.0      47
79.0      39
76.0      38
78.0      30
85.0      18
Name: Age, Length: 75, dtype: int64
Business travel    58617
Personal Travel    26536
Name: TypeTravel, dtype: int64
Eco         49342
Business    45037
Name: Travel_Class, dtype: int64
1963    72
1789    68
1639    65
1894    65
1767    64
        ..
4869     1
4576     1
5024     1
5152     1
5344     1
Name: Travel_Distance, Length: 5210, dtype: int64
0.0      53339
1.0       2734
2.0       2096
3.0       1838
4.0       1641
         ...
284.0        1
530.0        1
933.0        1
581.0        1
308.0        1
Name: DepartureDelay_in_Mins, Length: 437, dtype: int64
0.0      52915
1.0       1995
2.0       1899
3.0       1757
4.0       1713
         ...
567.0        1
471.0        1
604.0        1
691.0        1
354.0        1
Name: ArrivalDelay_in_Mins, Length: 434, dtype: int64

In [28]:
cat = []
for i in df.columns:
    if df[i].dtypes == object:
        cat.append(i)

In [29]:
df =pd.get_dummies(df, columns=cat,drop_first=True)

In [1238]:
df.loc[df['Travel_Distance'] > 4000, 'Travel_Distance'] = np.nan

In [964]:
df_stable = df.copy( deep=True)
# it is before split

In [9]:
df.head()

,ID,Overall_Experience,Seat_comfort,Seat_Class,Arrival_time_convenient,Catering,Platform_location,Onboardwifi_service,Onboard_entertainment,Online_support,...,Cleanliness,Online_boarding,Gender,CustomerType,Age,TypeTravel,Travel_Class,Travel_Distance,DepartureDelay_in_Mins,ArrivalDelay_in_Mins
0,2100001,0,need improvement,Green Car,excellent,excellent,very convinient,good,need improvement,acceptable,...,need improvement,poor,Female,Loyal Customer,52.0,NaN,Business,272,0.0,5.0
1,2100002,0,poor,Ordinary,excellent,poor,need improvement,good,poor,good,...,good,good,Male,Loyal Customer,48.0,Personal Travel,Eco,2200,9.0,0.0
2,2100003,1,need improvement,Green Car,need improvement,need improvement,need improvement,need improvement,good,excellent,...,excellent,excellent,Female,Loyal Customer,43.0,Business travel,Business,1061,77.0,119.0
3,2100004,0,acceptable,Ordinary,need improvement,NaN,need improvement,acceptable,need improvement,acceptable,...,acceptable,acceptable,Female,Loyal Customer,44.0,Business travel,Business,780,13.0,18.0
4,2100005,1,acceptable,Ordinary,acceptable,acceptable,manageable,need improvement,good,excellent,...,good,good,Female,Loyal Customer,50.0,Business travel,Business,1981,0.0,0.0

In [162]:
#df['age']=stats.zscore(df['Age'])
#df.drop('Age', axis = 1 , inplace = True)
#df['travel_distance']=stats.zscore(df['Travel_Distance'])
#df.drop('Travel_Distance', axis = 1 , inplace = True)

In [595]:
train , test= train_test_split(df, test_size = 0.25)

In [596]:
X_train = train.drop('Overall_Experience', axis = 1)
y_train = train['Overall_Experience']

In [597]:
X_test = test.drop('Overall_Experience' , axis = 1)
y_test = test['Overall_Experience']

In [598]:
print (X_train.shape)
print ( X_test.shape)
print ( y_train.shape)
print ( y_test.shape)

(70491, 79)
(23498, 79)
(70491,)
(23498,)

In [599]:
X_train.drop( 'ID', axis = 1 , inplace = True)

In [600]:
X_test.drop( 'ID', axis = 1 , inplace = True)

In [601]:
X_train.head()

,Age,Travel_Distance,DepartureDelay_in_Mins,ArrivalDelay_in_Mins,Seat_comfort_excellent,Seat_comfort_extremely poor,Seat_comfort_good,Seat_comfort_need improvement,Seat_comfort_poor,Seat_Class_Ordinary,...,Cleanliness_poor,Online_boarding_excellent,Online_boarding_extremely poor,Online_boarding_good,Online_boarding_need improvement,Online_boarding_poor,Gender_Male,CustomerType_disloyal Customer,TypeTravel_Personal Travel,Travel_Class_Eco
69536,42.0,2616,31.0,45.0,0,0,0,1,0,1,...,0,0,0,1,0,0,1,0,0,0
13929,44.0,3557,0.0,0.0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
46704,41.0,2484,0.0,0.0,0,0,0,1,0,1,...,0,0,0,0,1,0,1,0,0,1
44762,58.0,1355,124.0,114.0,0,0,0,0,0,1,...,0,0,0,0,1,0,0,1,0,1
65447,46.0,1272,81.0,72.0,0,0,0,0,0,0,...,0,0,0,0,1,0,1,0,1,1

In [516]:
#sc = StandardScaler()
#X_train = sc.fit_transform(X_train)
#X_train = pd.DataFrame(X_train, columns=col)

In [517]:
#sc = StandardScaler()
#X_test = sc.fit_transform(X_test)
#X_test = pd.DataFrame(X_test, columns=col)

In [ ]:
#X_train['Travel_Distance']=r_scaler.fit_transform(X_train['Travel_Distance'])
#X_test['Travel_Distance']=stats.zscore(X_test['Travel_Distance'])
#X_train['Age'] = stats.zscore(X_train['Age'])
#X_test['Age'] = stats.zscore(X_test['Age'])
#X_train['ArrivalDelay_in_Mins'] = stats.zscore(X_train['ArrivalDelay_in_Mins'])
#X_train['DepartureDelay_in_Mins'] = stats.zscore(X_train['DepartureDelay_in_Mins'])
#X_test['ArrivalDelay_in_Mins'] = stats.zscore(X_test['ArrivalDelay_in_Mins'])
#X_test['DepartureDelay_in_Mins'] = stats.zscore(X_test['DepartureDelay_in_Mins'])

In [604]:
col=X_train.columns

In [602]:
X_train.drop ('Platform_location_very inconvinient', axis = 1 , inplace = True)
X_train.drop ('Cleanliness_extremely poor', axis = 1 , inplace = True)
X_train.drop ('Checkin_service_extremely poor', axis = 1 , inplace = True)
X_train.drop ('Onboard_service_extremely poor', axis = 1 , inplace = True)
X_train.drop ('Online_support_extremely poor', axis = 1 , inplace = True)

In [603]:
X_test.drop ('Platform_location_very inconvinient', axis = 1 , inplace = True)
X_test.drop ('Cleanliness_extremely poor', axis = 1 , inplace = True)
X_test.drop ('Checkin_service_extremely poor', axis = 1 , inplace = True)
X_test.drop ('Onboard_service_extremely poor', axis = 1 , inplace = True)
X_test.drop ('Online_support_extremely poor', axis = 1 , inplace = True)

## KNN

## Bagging

In [406]:
from sklearn.ensemble import BaggingClassifier

bgcl = BaggingClassifier(base_estimator=DT_model, n_estimators=100,random_state=1)
#bgcl = BaggingClassifier(n_estimators=50,random_state=1)

bgcl = bgcl.fit(X_train, y_train)
print ( bgcl.score(X_train, y_train))

0.9946163340000851

In [407]:
y_predict = bgcl.predict(X_test)

print(bgcl.score(X_test , y_test))

0.9425683583359932

## Gradient Boosting

In [419]:
from sklearn.ensemble import GradientBoostingClassifier
gbcl = GradientBoostingClassifier(random_state=10 , learning_rate = 0.1 , max_depth = 8, max_leaf_nodes= 12)
gbcl = gbcl.fit(X_train, y_train)

In [420]:
gbcl.score(X_test , y_test)

0.9380146824130227

## XGboost

In [656]:

model_boost = XGBClassifier( 
                      scale_pos_weight=1,
                      learning_rate=0.1,  
                      colsample_bytree = 0.8,
                      subsample = 1,
                      objective='binary:logistic', 
                      n_estimators=3000, 
                      reg_alpha = 0.3,
                      max_depth=12, 
                      gamma=5)
model_boost.fit(X_train, y_train)
model_boost.score( X_train, y_train)

[21:50:00] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.3.0/src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

0.9748194805010568

In [657]:
model_boost.score( X_test, y_test)

0.9582517661077539

In [476]:
# ETA - tried from 0.01- 0.5( giving same 95)( have remoced fir now-eta = 0.5)
#max _depth = 12 gives max -95.51, also no overtfit
# min_child_weight-  1/4- 95.50(remove)
# max_leaf_nodes = same at all,removing for now(max_leaf_nodes= 100)
# gamma = 0.6- max (remove)
# subsample = 1- max
# scale_pos_weight = 1
# colsample_bytree = 0.3-0.8

## Final Prediction

In [658]:
pred_final = model_boost.predict(tf)
pred_final=pd.DataFrame(pred_final)

In [659]:
pred_final['ID']= tf1['ID']

In [660]:
# final prediction in Predict35.csv file
pred_final.to_csv('Predict35.csv')

In [555]:
#pred_test=model_boost.predict(X_test)

In [558]:
#print ( classification_report( pred_test, y_test))

              precision    recall  f1-score   support

           0       0.96      0.95      0.95     10880
           1       0.95      0.97      0.96     12618

    accuracy                           0.96     23498
   macro avg       0.96      0.96      0.96     23498
weighted avg       0.96      0.96      0.96     23498

In [607]:
tf=tf.reindex(columns = col,)

In [577]:
tf.drop ('Platform_location_very inconvinient', axis = 1 , inplace = True)
tf.drop ('Cleanliness_extremely poor', axis = 1 , inplace = True)
tf.drop ('Checkin_service_extremely poor', axis = 1 , inplace = True)
tf.drop ('Onboard_service_extremely poor', axis = 1 , inplace = True)
tf.drop ('Online_support_extremely poor', axis = 1 , inplace = True)

In [168]:
tf1 = pd.read_csv('Surveydata_test.csv')

In [169]:
tf2 = pd.read_csv('Traveldata_test.csv')

In [581]:
tf = pd.merge(tf1, tf2, on = 'ID')

In [592]:
tf =pd.get_dummies(tf, columns=cat,drop_first=True)

In [590]:
tf.head()

,Age,Travel_Distance,DepartureDelay_in_Mins,ArrivalDelay_in_Mins,Seat_comfort_excellent,Seat_comfort_extremely poor,Seat_comfort_good,Seat_comfort_need improvement,Seat_comfort_poor,Seat_Class_Ordinary,...,Cleanliness_poor,Online_boarding_excellent,Online_boarding_extremely poor,Online_boarding_good,Online_boarding_need improvement,Online_boarding_poor,Gender_Male,CustomerType_disloyal Customer,TypeTravel_Personal Travel,Travel_Class_Eco
0,36.0,532,0.0,0.0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,21.0,1425,9.0,28.0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
2,60.0,2832,0.0,0.0,1,0,0,0,0,1,...,0,1,0,0,0,0,1,0,0,0
3,29.0,1352,0.0,0.0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,1
4,18.0,1610,17.0,0.0,1,0,0,0,0,1,...,0,1,0,0,0,0,1,1,0,0

In [593]:
tf.loc[tf['Travel_Distance'] > 4000, 'Travel_Distance'] = np.nan

In [594]:
tf_mice= tf.copy(deep=True)
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
mice = IterativeImputer()
tf_mice.iloc[:,:]= mice.fit_transform(tf_mice)
tf= tf_mice

In [487]:
from sklearn.preprocessing import StandardScaler

In [542]:
#sc= StandardScaler()
#tf = sc.fit_transform(tf)
#tf = pd.DataFrame(tf, columns=col)

In [259]:
#tf['Travel_Distance']=stats.zscore(tf['Travel_Distance'])
#tf['Age'] = stats.zscore(tf['Age'])
#tf['ArrivalDelay_in_Mins'] = stats.zscore(tf['ArrivalDelay_in_Mins'])
#tf['DepartureDelay_in_Mins'] = stats.zscore(tf['DepartureDelay_in_Mins'])

In [586]:
#tf.drop ('DepartureDelay_in_Mins', axis = 1 , inplace = True)
#tf.drop ('ArrivalDelay_in_Mins', axis = 1 , inplace = True)
tf.drop ('ID', axis = 1 , inplace = True)

In [541]:
#tf['Platform_location_very inconvinient']=0.0
#tf['Cleanliness_extremely poor']=0.0
#tf['Checkin_service_extremely poor']=0.0
#tf['Onboard_service_extremely poor']=0.0
#tf['Online_support_extremely poor']=0.0

In [379]:
#r_scaler = RobustScaler()
#tf = r_scaler.fit_transform(tf)
#tf = pd.DataFrame(tf, columns=col)

In [635]:
oversample = SMOTE()
X_train1, y_train1 = oversample.fit_resample(X_train, y_train)